.products {
    padding-top: 60px;
    padding-bottom: 60px;
}
.product__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-contents {

    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    position: relative;
    width: 280px;
    height: 489px;
    background-color: #FFB8CA;
    border-radius: 24px;
    &--yellow {
        background-color: #F0D1A5;
    }
    &--green {
      background-color: #C2E297;
    }
}
.product__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white-text-color);
    border-radius: 50%;
    border: transparent;
    width: 40px;
    height: 40px;
}
.product__icon {
    width: 15px;
    height: 15px;
    fill: #D41443;
}
.card-contents__icon {
    margin-bottom: 32px;
}
.card-contents__subtitle {
    padding-top: 160px;
   
    margin-bottom: 32px;
    
    text-align: center;
    font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
           letter-spacing: 1.15;
           text-transform: uppercase;
    color: var(--white-text-color);
    width: 174px;

}
.card-contents__text {
    margin-bottom: 32px;
    color: var(--white-text-color);
    width: 200px;
font-weight: 700;
line-height: 1.5;
 letter-spacing: 0.04em;
}

.product__image {
   z-index: 1;

    background-color: transparent;
}