body {
  // background-color: ;
  color: var(--primary-text-color);
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;

  letter-spacing: 0.04em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.upper-title {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;

  color: #d41443;

  @include mq(tablet) {
    font-size: 48px;
  }

  @include mq(desktop) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.btn { 
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 107px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.btn--red {
  color: #ffffff;
  background-color: #d41442;
}

.btn--white {
  color: #d41443;
  background-color: #ffffff;
}

.btn--white:focus,
.btn--white:hover {
  background-color: #ECEBEB;
}

.btn--hero {
  height: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29px;
}
