:root {
  --primary-font: DM Sans, sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: ;
  --accent-color-text: ;

  --main-bgc: ;
  --secondary-bgc: ;
  --accent-color-background: ;

  --transition-duration: ;
  --transition-timing-function: ;
}

$primary-font: DM Sans, sans-serif;
