.hero {
  display: block;
  background-color: #ffb8ca;
  overflow: hidden;
  @include mq(mobile-only) {
    background-image: url(/src/images/Ellipse\ 3.png);
    background-repeat: no-repeat;
    background-position-x: calc(50% + 50px);
    background-position-y: calc(50% + 2px);
    background-size: 346px;
  }
}

.hero-container {
  position: relative;
  text-align: left;
  height: 502px;
  overflow: hidden;

  background-image: url(/src/images/slider-pic7\ 1.png);

  background-repeat: no-repeat;
  background-size: 171px;
  background-position: calc(50% + 43px) bottom;

  padding-top: 194px;
  @include mq(retina) {
    background-image: url(/src/images/slider-pic7\ 1@2x.png);
  }

  @include mq(tablet) {
    height: 416px;
    padding-top: 102px;

    background-image: url(/src/images/hero-img/IceCream-hero-tab.png),
      url(/src/images/hero-img/ellipse-tab.png);
    background-position: 322px bottom, 248px 43px;
    background-size: 143px, 335px;

    @include mq(retina) {
      background-image: url(/src/images/hero-img/IceCream-hero-tab@2x.png),
        url(/src/images/hero-img/ellipse-tab.png);
    }
  }

  @include mq(desktop) {
    height: 664px;
    padding-top: 147px;

    background-image: url(/src/images/hero-img/IceCream-hero-desctop.png),
      url(/src/images/hero-img/ellips-desctop.png);
    background-position: 636px bottom, 517px 54px;
    background-size: 236px, 534px;

    @include mq(retina) {
      background-image: url(/src/images/hero-img/IceCream-hero-desctop@2x.png),
        url(/src/images/hero-img/ellips-desctop.png);
    }
  }
}
.hero__title {
  font-family: 'Titan One';
  text-align: left;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--white-text-color);
  margin-bottom: 20px;

  @include mq(tablet) {
    font-size: 22px;
    line-height: 25px;
  }

  @include mq(desktop) {
    font-size: 38px;
    line-height: 44px;
  }
}

.hero__title--red {
  font-family: 'Titan One';
  display: inline-block;
  font-size: 48px;
  line-height: 96.5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #d41443;

  @include mq(tablet) {
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }
  @include mq(desktop) {
    font-size: 58px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }
}

.hero-list {
  display: flex;
}

.btn-hero {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  height: 40px;

  font-weight: 400;

  font-size: 8px;
  line-height: 10px;
  border-radius: 20px;
  height: 24px;
  min-width: auto;
  padding-left: 14px;
  padding-right: 14px;
  letter-spacing: 0;
  transition: background-color 250ms ease-in-out;

  @include mq(desktop) {
    padding-left: 23px;
    padding-right: 23px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}

.hero-list__item {
  margin-right: 8px;
  @include mq(desktop) {
    margin-right: 12px;
  }
}

.hero-list__item:last-child {
  margin-right: 0;
}

.cafes-tab {
  width: 43px;
}

.hero__img {
  position: absolute;
  @include mq(mobile-only) {
    display: none;
  }
}

.hero__img--tasty {
  bottom: 0;
  right: 32px;
  @include mq(desktop) {
    right: 16px;
  }
}

.hero__img--milk {
  bottom: 16px;
  left: 32px;
  @include mq(desktop) {
    left: 16px;
    bottom: 60px;
  }
}

.hero__img--trucks {
  bottom: 221px;
  right: 32px;
  @include mq(desktop) {
    bottom: 344px;
    right: 16px;
  }
}

.hero__img--cafes {
  bottom: 280px;
  right: 32px;
  @include mq(desktop) {
    bottom: 434px;
    right: 16px;
  }
}

.hero__text {
  display: block;
  position: absolute;
  width: 114px;
  height: 48px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
  bottom: 81px;
  left: 184px;
  letter-spacing: 0;
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    width: 200px;
    font-size: 14px;
    line-height: 140%;
    left: 216px;
    bottom: 130px;
    height: 78px;
  }
}

.hero__btn {
  position: absolute;
  left: 184px;
  bottom: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-text-color);
  border-radius: 50%;
  border: transparent;
  width: 18px;
  height: 18px;
  transition: background-color 400ms ease-in-out;

  &:hover,
  &:focus {
    background-color: #c2e297;
  }
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    width: 26px;
    height: 26px;
    left: 219px;
    bottom: 84px;
  }
}
.hero__icon {
  width: 6px;
  fill: #d41443;
  @include mq(desktop) {
    width: 8px;
  }
}

.hero__link {
  color: inherit;
}

.hero__nomber {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  z-index: 2;
  @include mq(desktop) {
    
      font-size: 46px;
      line-height: 53px;
      margin-bottom: 2px;
      
    
      
      
      
    
      
  }

  
}

.hero__list {
  position: absolute;
  top: 100px;
  right: 32px;
  width: 100px;
  
  

  display: block;
  @include mq(mobile-only) {
    display: none;
    
  }

    @include mq(desktop) {
      right: 34px;
      top: 152px;
    }


}

.hero__txt {
  display: inline-block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  letter-spacing: 0;

  color: #ffffff;
  width: 100%;
  @include mq(desktop){
    font-size: 14px;
      line-height: 18px;
  }
}

.hero__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: right;
  width: 100%;
  padding-right: 8px;
  margin-bottom: 16px;
@include mq(desktop) {
  padding-right: 0;
}
  
}

.hero__item::before {
  position: absolute;
  content: ' ';
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  justify-content: right;
  
  top: -2px;
  right: 0;

  @include mq(desktop) {
    width: 30px;
      height: 30px;
      right: -18px;
      top: -3px;
  }
}
