.contacts {
  background: linear-gradient(to top, #fff5f6 80%, #ffffff 80%);
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts-card {
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.64;
    margin: -16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts-card__item {
  max-width: 100%;
  padding: 40px 32px;
  background-color: rgb(255, 255, 255);

  border-radius: 24px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  &:hover,
  :focus {
    box-shadow: 0px 1px 3px rgba(173, 30, 30, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin: 16px;
    width: calc((100% - 96px) / 3);
  }
}

.contacts-card__list:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.contacts-card__item-title {
  display: inline-flex;
  justify-content: center;
  width: 80px;

  margin-bottom: 30px;

  text-transform: uppercase;

  color: #ffffff;

  background-color: #f0d1a5;
  border: 1px solid transparent;
  border-radius: 4px;

  @media screen and(min-width:768px) {
    width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    color: #ffffff;

    background-color: #f0d1a5;
    border: 1px solid transparent;
    border-radius: 6px;
  }

  @media screen and(min-width:1200px) {
    width: 75px;
  }
}

.green {
  background-color: #c2e297;
  width: 130px;

  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contacts-card__item-city {
  margin-bottom: 8px;
}

.contacts-card__text {
  color: var(--grey-text-color);
}
.contacts-card__time {
  color: rgba(255, 165, 186, 1);
}

.contacts-card__item-working {
  margin-bottom: 8px;
}

.contacts-card__item-auth {
  border-bottom: none;
}

.contacts-card__link {
  color: var(--grey-text-color);

  &:hover,
  focus {
    color: #d41443;
  }
}

.contacts-card__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-items: center;

    min-width: 138px;

    margin: 0%;
  }
}

.btn {
  width: 162px;
}
.contacts-btn__item {
  @media screen and (min-width: 768px) {
    margin-right: 15px;
    margin-top: 60px;
  }
  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
}

.btn::after {
  content: ' ';

  width: 8px;
  height: 10px;

  background-image: url(../images/arrow-white.svg);
  background-repeat: no-repeat;
  margin-left: 12px;

  background-size: contain;
  background-position: center;
}
.btn--red {
  &:hover,
  :focus {
    box-shadow: inset 3px 3px 10px #ffffff;
  }
}

.btn--white {
  &:hover,
  :focus {
    box-shadow: inset 3px 3px 10px #da4141;
  }
}
.btn.btn--white::after {
  content: ' ';

  width: 8px;
  height: 10px;

  background-image: url(../images/arrow-red.svg);
  background-repeat: no-repeat;
  margin-left: 12px;

  background-size: contain;
  background-position: center;
}

// +++++++++++++++++++++++

//     МОДАЛЬНОЕ ОКНО

// +++++++++++++++++++++++

.backdrop {
  position: fixed;
  top: 10px;
  left: 10px;

  // transform: translate(-50%, -50%);

  width: calc(100% - 20px);
  height: calc(100% - 20px);

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms 300ms;
  z-index: 100;

  @media screen and (min-width: 320px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events:none;
  visibility: visible;
}
.modal-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow-y: scroll;

  width: 90vw;
  height: 90vh;

  padding: 40px 40px;
  background-color: rgb(234, 181, 181);

  transition-duration: 1000ms;
  // transition-timing-function: 300ms;

  // @media screen and (min-width: 320px) {
  //   width: 450px;
  //   max-height: 609px;
  // }
  @media screen and (min-width: 768px) {
    width: 528px;
    max-height: 581px;
  }
}
.modal-data-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
// .modal-data__svg {
//   display: block;
//   margin: auto auto;
//   // transition-property: fill;
//   // transition-duration: $transition-duration;
//   // transition-timing-function: $timing-bezier;

//   &:hover {
//     background-color: transparent;
//     fill: var(--grey-text-color);
//   }
// }

.modal-data__form {
  display: inline-block;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.modal-data__title upper-title {
  color: #ffffff;
}
.modal-data__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #d41443;
  margin-bottom: 12px;
  padding: 0;
  margin-top: 0;
}

.data__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  background-color: #d41342;
  color: #ffffff;

  border-color: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover,
  :focus {
    background-color: #6a2034;
    cursor: pointer;
  }
}
