// +++++++++++++++++++++++

//     МОДАЛЬНОЕ ОКНО

// +++++++++++++++++++++++

.backdrop {
    position: fixed;
    top: 10px;
    left: 10px;
  
    transform: translate(-50%, -50%);
  
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms 300ms;
    z-index: 100;
  
    @media screen and (min-width: 320px) {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      width: 100%;
      height: 100%;
    }
  }
  .backdrop.is-hidden {
    opacity: 1;
    pointer-events:none;
    visibility: visible;
  }
  .modal-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow-y: scroll;
  
    width: 90vw;
    height: 90vh;
  
    
  
    padding: 40px 40px;
    background-color: rgb(234, 181, 181);
  
    transition-duration: 1000ms;
    // transition-timing-function: 300ms;
  
    // @media screen and (min-width: 320px) {
    //   width: 450px;
    //   max-height: 609px;
    // }
    @media screen and (min-width: 768px) {
      width: 528px;
      max-height: 581px;
    }
  }
  .modal-data__title.upper-title {
    color: #ffffff;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
  }
  .modal-data__title.title{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: .9;
    letter-spacing: 0.04em;
  }
  
  
  
  .modal-data__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #d41443;
    margin-bottom: 12px;
    padding: 0;
    margin-top: 0;
  }
  
  .data-group{
  display: flex;
  flex-direction: column;
    width: 100%;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
  }
  
  .data-group__label:not(:last-child){
    margin-top: 8px;
    margin-bottom: 8px;
  
  }
  .data-group__input{
    border-color: transparent;
    border-radius: 4px;
  }
  
  .modal-data-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  // .modal-data__svg {
  //   display: block;
  //   margin: auto auto;
  //   // transition-property: fill;
  //   // transition-duration: $transition-duration;
  //   // transition-timing-function: $timing-bezier;
  
  //   &:hover {
  //     background-color: transparent;
  //     fill: var(--grey-text-color);
  //   }
  // }
  
  .modal-data__form {
    display: inline-block;
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .data__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: auto;
    margin-right: auto;
  
    width: 200px;
    height: 50px;
  
    background-color: #d41342;
    color: #ffffff;
  
    border-color: transparent;
    border-radius: 4px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    &:hover,
    :focus {
      background-color: #6a2034;
      cursor: pointer;
    }
  }
  
  
  .data-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 30px;
  
    font-size: 12px;
    line-height: 1.17;
  
    color: #757575;
    text-transform: none;
  
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-bezier);
  }
  
  .data-checkbox__link {
    margin: 0 5px;
    padding: 0%;
  
    color: #188ce8;
  
    text-decoration: underline;
  
    @media screen and(max-width: 1199.99px) {
      font-size: 12px;
      line-height: 1.17;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
  
  .data-checkbox__label {
    display: flex;
    align-items: center;
  
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-bezier);
  
    &:hover .data-checkbox__icon {
      border-color: #188ce8;
      cursor: pointer;
    }
  
    @media screen and(max-width: 1199.99px) {
      font-size: 12px;
      line-height: 1.17;
    }
  
    @media screen and(max-width:767px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }
  
  .data-checkbox__label:hover {
    cursor: pointer;
  }
  
  .data-checkbox__icon {
    display: inline-block block;
    align-items: center;
  
    margin-right: 7px;
    min-width: 16px;
    min-height: 15px;
  
    border: 2px solid var(--grey-text-color);
    border-radius: 2px;
  
    &:hover {
      cursor: pointer;
      border-color: var(--accent-color);
    }
  }
  .data-checkbox__input:checked + .data-checkbox__icon {
    background-color: var(--accent-color);
    // background-image: url(./images/arrow-red.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: var(--accent-color);
  }
  
  .data-checkbox__input {
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  