.reviews-container {
    @include mq(tablet){
        padding-left: 16px;
        padding-right: 16px;
    }
}

.review__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    border-radius: 50%;

    transition: transform 250ms ease,
                box-shadow 250ms ease;

    &:hover,
    &:focus {
            transform: scale(1.1);
            box-shadow: 0 0 18px #c4c4c1;
        }

    @include mq(tablet) {
        margin-bottom: 57px;
    }

    @include mq(desktop) {
        margin-bottom: 16px;
    }
}

.review__text-wrapper {
    padding-top: 43px;
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 36px;

    background-color: #FAFAFA;

    transition: transform 250ms ease,
                box-shadow 250ms ease,
                border-radius 250ms ease;

    &:hover,
    &:focus {
            transform: scale(1.05);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 24px;
        }

    @include mq(tablet) {
        padding: 0;
        margin-bottom: 50px;    
    }

    @include mq (tablet-only) {
        background-color: var(--main-bgc);
    }

    @include mq(desktop) {
        padding: 32px 72px;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;

        width: 968px;
    }
}

.review__text {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 1px;
    text-align: center;
    z-index: 1;

    font-size: 12px;
    line-height: 2.58;

    background: repeating-linear-gradient(#FAFAFA, #FAFAFA 30px, #E1E1E1 31px);

    &::before {
        position: absolute;
        top: -20px;
        left: -20px;

        content: ' ';
        width: 54px;
        height: 40px;

        background-image: url("../images/reviews/quotes.svg");
        z-index: -1;
    }

    @include mq (tablet) {
        width: 608px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq (tablet-only) {
        background: repeating-linear-gradient(#FFFFFF, #FFFFFF 30px, #E1E1E1 31px);
    }

    @include mq (desktop) {
        width: 822px;
    }
}

.review__user-data {
    position: relative;
    text-align: center;

    font-size: 16px;
    line-height: 1.86;

    &::before {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translatex(-50%);

        content: ' ';
        width: 32px;
        height: 4px;

        background-image: url("../images/reviews/reddots.svg");
    }
}