

.about {
    
    text-align: center;
    background-color: #FFF5F6 ;
    @media screen and (min-width: 1200px) {
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50% 70%;
            background-image:
                url(../images/about-image/bg-about-image-desk@1x.png);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(../images/about-image/bg-about-image-desk@2x.png);
            }

}
}

.about-upper-title {
    
    margin-bottom: 15px; 
    text-align: center;
    font-weight: 400;
    color: #ffa5ba;
    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    
        }
}

.about-title {
    margin-bottom: 32px;
    font-weight: 400;
    @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        } @media screen and (min-width: 768px) {
             margin-bottom: 60px;
         }
}

.about-card {
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
}
.about-img {
    display: inline-block;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        margin-right: auto;
          margin-bottom: 0;
            width: 336px;
            height: 335px;
            
        }
    
        @media screen and (min-width: 1200px) {
            width: 501px;
            height: 501px;
        }

}

.about-description {
   
   
    
    text-align: left;
    font-size: 12px;
    line-height: 1.58;
    color: var(--grey-text-color);
    @media screen and (max-width: 767px) {
            background-size: 100%;
                background-repeat: no-repeat;
                background-position: 50% 30%;
                background-image:
                    url(../images/about-image/bg-about-image-sm@1x.png);
                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image:
                                url(../images/about-image/bg-about-image-sm@2x.png);
                        }
    
        }
          @media screen and (min-width: 768px) {
            max-width: 334px;
            margin-right: 0;
          }
                  @media screen and (min-width: 1200px) {
                    max-width: 463px;
                       
                  }

       
}

.about-description__lable {
    margin-right: 60px;
    margin-bottom: 30px;
    color: var(--primary-text-black);
    @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-bottom: 25px;
        }
                 @media screen and (min-width: 1200px) {
                     margin-right: 105px;
                     margin-bottom: 32px;
                 }
}

.about-description__text {
    margin-right: 60px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
                 @media screen and (min-width: 1200px) {
                     margin-right: 105px;
                     margin-bottom: 32px;
                     
                 }
   
}
.about-description__addition {
        margin-right: 60px;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
                margin-right: 0;
                margin-bottom: 40px;
                
            }
                @media screen and (min-width: 1200px) {
                    margin-right: 105px;
                        
                }

}



.about-description__btn {
    text-align: center;
    padding-right: 37px;
    padding-left: 37px;
    color: var(--red-text-color);
    background-color: var(--main-bgc);
}