.footer {
    background-color: var(--secondary-bgc);
    &__container {
         
        @media screen and (min-width: 768px) {
            max-width: 768px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media screen and (min-width: 1200px) {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 1200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__text {
        width: 234px;
        text-align: inherit;
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            width: 340px;
        }
        @media screen and (min-width: 1200px) {
            width: unset;
            
        }


    }

    &__upper-title {
        
        text-align: start;
        padding-bottom: 16px;

    }

    &__title {
        text-align: start;
        padding-bottom: 40px;
    }

    .socials-networks {
        display: flex;
        gap: 30px;
        list-style: none;
        justify-content: end;
        margin-bottom: 40px;


        &__link {
            display: flex;
            justify-content: center;
            align-items: center;               
            width: 32px;
            height: 32px;
            color: var(--white-text-color);
            background-color: var(--social-icon-bgc);
            border-radius: 50%;
            transition: var(--timing-bezier), var(--transition-duration);


            &:hover,
            &:focus {
                color: var(--social-icon-bgc);
                background-color: var(--red-text-color);
            }

        }

        &__icon {
            fill: currentColor;
        }
    }

    .footer-contacts {
        display: flex;
        justify-content: end;
        margin-bottom: 40px;

        &__text {
            font-weight: 700;
            font-size: 12px;
            line-height: 22.32px;
            @media screen and (min-width: 768px) {
                font-size: 14px;
                line-height: 26px;
            }
            @media screen and (min-width: 1200px) {
                font-size: 16px;
                line-height: 30px;  
            }
        }
        &__address {
            font-size: 12px;
        }
        &__phone {
            font-style: normal;
            text-decoration: none;
            font-family: DM Sans;
            font-size: 12px;
            font-weight: 500;
            line-height: 22.32px;
            color: var(--red-text-color);
            @media screen and (min-width: 768px) {
                font-size: 14px;
                line-height: 26px;
            }
            @media screen and (min-width: 1200px) {
                font-size: 16px;
                line-height: 30px;  
            }
            
        }

    }

    .footer-contect {
        padding-top: 16px;
        padding-bottom: 3px;
        border-top: 1px solid #E1E1E1;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            padding-top: 8px;
        }
        


        &__text {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            color: var(--grey-text-color);
            text-align: center;

            @media screen and (min-width: 768px) {
                line-height: 26px;
                letter-spacing: 2%;
            }
        }
    }
}