<section class="advantages">
    
   <div class="container">
    <h2 class="visually-hidden">Advantages of our product</h2>
    
    <ul class="list advantages__list">
        <li class="list__item">
            <h3 class="list__item__header class__for__before--1">721</h3>
            <p class="list__item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="list__item">
            <h3 class="list__item__header class__for__before--2">16kg</h3>
            <p class="list__item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="list__item">
            <h3 class="list__item__header class__for__before--3">84</h3>
            <p class="list__item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
     
    </ul>
  
   </div>
    
</section>

