
  <!--////////////////////////////////-->

      <!-- Section CONTACTS -->

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

<section class="contacts section" id="contacts">
  <div class="container ">
    <h1 class="contacts__title visually-hidden">contacts</h1>
    <ul class="contacts-card list">

      <!-- contacts Chicago -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title">cafe</p></li>
          <li><p class="contacts-card__item-city"><b>Chicago</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:" 
            aria-label="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>

<!-- contacts Los Angeles -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title green">food truck</p></li>
          <li><p class="contacts-card__item-city"><b>Los Angeles</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:" aria-label
            ="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <!-- contacts Los New York -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title">cafe</p></li>
          <li><p class="contacts-card__item-city"><b>New York</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:" aria-label
            ="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    

    </ul>
    <ul class="contacts-card__btn list">
      <li class="contacts-btn__item">
        <button class="btn btn--red" type="button">Our Locations</button>
      </li>
      <li class="contacts-btn__item">
        <button class="btn btn--white" type="button" data-modal-open>Franchise</button>
      </li>
    </ul>

  </div>
  <!-- // +++++++++++++++++++++++

  //     МОДАЛЬНОЕ ОКНО
  
  // +++++++++++++++++++++++ -->


<div class="backdrop is-hidden" data-modal>
<div class="modal-data">
  <button class="modal-data-btn" type="button" data-modal-close>X</button>
    <!-- <svg class="modal-data__svg" width="18" height="18">
      <--<use href="./img/icons/symbol-defs.svg#close"></use> -->
    <!-- </svg> --> 
    

<p class="modal-data__title upper-title">ice cream made with</p>

  <p class="modal-data__title title ">passion</p>
  <p class="modal-data__title">leave your details we will call you back</p>
  <form class="modal-data__form">
    <div class="data-group">
      <label class="data-group__label" for="text">Name</label>
      <input
        class="data-group__input"
        type="text"
        name="user-name"
        id="text"
      />

      <!-- <svg class="data-group__svg" width="18" height="18">
        <use href="./img/icons/symbol-defs.svg#person"></use> -->
      <!-- </svg> -->
    </div>

    <div class="data-group">
      <label class="data-group__label" for="tel">Phone number </label>
      <input class="data-group__input" type="tel" name="tel" id="tel" />
      <!-- <svg class="data-group__svg" width="18" height="18">
        <use href="./img/icons/symbol-defs.svg#phone"></use>
      </svg> -->
    </div>

    <div class="data-group">
      <label class="data-group__label" for="modal-email">Email </label>
      <input
        class="data-group__input"
        type="tel"
        name="email"
        id="modal-email"
      />
      <!-- <svg class="data-group__svg" width="18" height="18">
        <use href="./img/icons/symbol-defs.svg#email"></use>
      </svg> -->
    </div>

    <div class="data-group">
      <label class="data-group__label" for="textarea">comment</label>
      <textarea
        class="data-group__input data-group__input--textarea"
        name="coments"
        id="textarea"
        placeholder="Введите текст"
      ></textarea>
    </div>

    <div class="data-checkbox">
      <label class="data-checkbox__label">
        <input
          class="data-checkbox__input"
          type="checkbox"
          name="checkbox"
          value="contract"
        />
        <span class="data-checkbox__icon"></span>

        I agree with the terms of the contract
      </label>
      <a class="data-checkbox__link" href="">Terms of an agreement</a>
    </div>

    <button class="data__btn" type="submit">Send</button>
  </form>
</div>
</div>
</section>

  