
  <!--////////////////////////////////-->

      <!-- Section CONTACTS -->

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

<section class="contacts section" id="contacts">
  <div class="container container-contacts">
    <h1 class="contacts__title visually-hidden">contacts</h1>
    <ul class="contacts-card list">

      <!-- contacts Chicago -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title">cafe</p></li>
          <li><p class="contacts-card__item-city"><b>Chicago</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.com" 
            aria-label="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>

<!-- contacts Los Angeles -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title contacts-card__item-title--green">food truck</p></li>
          <li><p class="contacts-card__item-city"><b>Los Angeles</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.com" 
            aria-label="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <!-- contacts Los New York -->

      <li class="contacts-card__item">
        <ul class="contacts-card__list list">
          <li><p class="contacts-card__item-title">cafe</p></li>
          <li><p class="contacts-card__item-city"><b>New York</b> </p></li>
          <li>
            <p class="contacts-card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> <b>Monday - Friday</b></p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"><b>Saturday - Sunday</b></p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.comnoreply@envato.com" aria-label
            ="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    

    </ul>
    <ul class="contacts-card__btn list">
      <li class="contacts-btn__item">
        <button class="btn btn--size btn--red" type="button" maps-modal-open>Our Locations
          <svg class="contacts-btn-svg about-button__arrow" width="7" height="15">
            <use href="./images/icons.svg#icon-button_arrow-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button class="btn btn--size btn--white" type="button" franchise-modal-open>Franchise
             <svg class="contacts-btn-svg" width="7" height="15">
            <use href="./images/icons.svg#icon-button_arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

  </div>
  <!-- <script src="./modalMaps.html"></script> -->

</section>
