
  <!--////////////////////////////////-->

      <!-- Section CONTACTS -->

<!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

<section class="contacts section" id="contacts">
  <div class="container container-contacts ">
    <h2 class="contacts__title visually-hidden">contacts</h2>
    <ul class="contacts-card list">

      <!-- contacts Chicago -->

      <li class="contacts-card__item">
        <p class="contacts-card__item-title">cafe</p>
        <p class="contacts-card__item-city">Chicago</p>
        <p class="contacts-card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.com" 
            aria-label="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>

<!-- contacts Los Angeles -->

      <li class="contacts-card__item">

        <p class="contacts-card__item-title contacts-card__item-title--green">food truck</p>
        <p class="contacts-card__item-city">Los Angeles</p>
        <p class="contacts-card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.com" 
            aria-label="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <!-- contacts Los New York -->

      <li class="contacts-card__item">
        <p class="contacts-card__item-title">cafe</p>
        <p class="contacts-card__item-city">New York</p>
        <p class="contacts-card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="contacts-card__list list">
          <li class="contacts-card__item-working">
            <p class="contacts-card__day"> Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-card__item-working">
            <p class="contacts-card__day">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-card__list list">
          <li class="contacts-card__item-auth">
            <a class="contacts-card__link link"
            href="tel:+610383766284" 
            aria-label="tel" 
            target="_blank"
            rel="no-referrer nofollow">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="contacts-card__link link"
            href="mailto:noreply@envato.comnoreply@envato.com" aria-label
            ="email" 
            target="_blank"
            rel="no-referrer nofollow">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    

    </ul>
    <ul class="contacts-card__btn list">
      <li class="contacts-btn__item">
        <button class="btn btn--size btn--red" type="button" data-maps-modal-open>Our Locations
          <svg class="contacts-btn-svg about-button__arrow" width="7" height="15">
            <use href="./images/icons.svg#icon-button_arrow-white"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button class="btn btn--size btn--white" type="button" data-franchise-modal-open>Franchise
             <svg class="contacts-btn-svg" width="7" height="15">
            <use href="./images/icons.svg#icon-button_arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

  </div>
  <!-- <script src="./modalMaps.html"></script> -->

</section>
