<section class="footer">
    <div class="footer__container container">

        <div class="footer__text">
            <p class="upper-title footer__upper-title">homemade ice cream made</p>
            <p class="title footer__title">with passion</p>
        </div>
        <div class="footer__wrapper">
            <div>
                <ul class="socials-networks">
                    <li class="socials-networks__item">
                        <a href="https://github.com/" class="socials-networks__link">
                            <svg class="socials-networks__icon" width="19px" height="19px">
                                <use href="./images/icons.svg#icon-github-footer "></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-networks__item">
                        <a href="https://telegram.org/" class="socials-networks__link">
                            <svg class="socials-networks__icon" width="19px" height="15px">
                                <use href="./images/icons.svg#icon-telegram-footer "></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-networks__item">
                        <a href="https://www.facebook.com/" class="socials-networks__link">
                            <svg class="socials-networks__icon" width="9px" height="19px">
                                <use href="./images/icons.svg#icon-facebook-footer "></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-contacts">
                <p class="footer-contacts__text">Feel free to contact </p>
                <address class="footer-contacts__address">
                    <a href="tel:+610383766284" class="footer-contacts__phone">+61 (0) 383 766 284</a>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-contect">
        <p class="footer-contect__text">
            © 2022 - IceCream.
        </p>
        <p class="footer-contect__text">
            All Rights Reserved.
        </p>
    </div>
</section>