<section class="gallery">
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery1_desk.png    1x,
              ./images/gallery/gallery1_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery1_tab.png    1x,
              ./images/gallery/gallery1_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery1_mob.png    1x,
              ./images/gallery/gallery1_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery1_mob.png"
            alt="Photo 1 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery2_desk.png    1x,
              ./images/gallery/gallery2_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery2_tab.png    1x,
              ./images/gallery/gallery2_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery2_mob.png    1x,
              ./images/gallery/gallery2_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery2_mob.png"
            alt="Photo 2 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery3_desk.png    1x,
              ./images/gallery/gallery3_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery3_tab.png    1x,
              ./images/gallery/gallery3_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery3_mob.png    1x,
              ./images/gallery/gallery3_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img gallery__img--big"
            src="./images/gallery/gallery3_mob.png"
            alt="Photo 3 from Gallery"
            width="90"
            height="90"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery4_desk.png    1x,
              ./images/gallery/gallery4_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery4_tab.png    1x,
              ./images/gallery/gallery4_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery4_mob.png    1x,
              ./images/gallery/gallery4_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery4_mob.png"
            alt="Photo 4 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery5_desk.png    1x,
              ./images/gallery/gallery5_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery5_tab.png    1x,
              ./images/gallery/gallery5_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery5_mob.png    1x,
              ./images/gallery/gallery5_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery5_mob.png"
            alt="Photo 5 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery6_desk.png    1x,
              ./images/gallery/gallery6_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery6_tab.png    1x,
              ./images/gallery/gallery6_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery6_mob.png    1x,
              ./images/gallery/gallery6_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery6_mob.png"
            alt="Photo 6 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery7_desk.png    1x,
              ./images/gallery/gallery7_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery7_tab.png    1x,
              ./images/gallery/gallery7_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery7_mob.png    1x,
              ./images/gallery/gallery7_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery7_mob.png"
            alt="Photo 7 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery8_desk.png    1x,
              ./images/gallery/gallery8_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery8_tab.png    1x,
              ./images/gallery/gallery8_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery8_mob.png    1x,
              ./images/gallery/gallery8_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery8_mob.png"
            alt="Photo 8 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery9_desk.png    1x,
              ./images/gallery/gallery9_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery9_tab.png    1x,
              ./images/gallery/gallery9_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery9_mob.png    1x,
              ./images/gallery/gallery9_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery9_mob.png"
            alt="Photo 9 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/gallery/gallery10_desk.png    1x,
              ./images/gallery/gallery10_desk@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/gallery/gallery10_tab.png    1x,
              ./images/gallery/gallery10_tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/gallery/gallery10_mob.png    1x,
              ./images/gallery/gallery10_mob@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/gallery/gallery10_mob.png"
            alt="Photo 10 from Gallery"
            width="44"
            height="44"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
