<header class="header">
  <div class="header__container container">
    <div class="header__container-logo">
      <svg class="logo__icon" width="199px" height="50px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </div>
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link link" href="#home">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#tradition">How it's made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <!--burger__button-->
      <button
        type="button"
        class="menu-button js-open-menu"
        aria-controls="menu-container"
      >
        <svg width="20" height="15" aria-label="Открытие мобильного меню">
          <use class="icon-menu" href="./images/icons.svg#menu"></use>
        </svg>
      </button>
      <!--burger__menu-->
      <div class="menu-container js-menu-container" id="menu-container">
        <button
          type="button"
          class="menu-button js-close-menu"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg width="20" height="15" aria-label="Закрытие мобильного меню">
            <use class="icon-cross" href="./images/icons.svg#cross"></use>
          </svg>
        </button>
        <button
          data-modal-open
          class="btn header__btn header__btn-menu"
          type="button"
        >
          <span class="heder__btn-text">Buy now</span>
          <svg width="7" height="15">
            <use
              class="button__arrow"
              href="./images/icons.svg#button_arrow"
            ></use>
          </svg>
        </button>

        <ul class="mobile__list list">
          <li class="mobile__item">
            <a class="mobile__link link" href="#home">Home</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link link" href="#about">About us</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link link" href="#tradition">How it’s made?</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link link" href="#products">Our products</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <button data-modal-open class="btn header__btn desktop__btn" type="button">
      <span class="heder__btn-text">Buy now</span>

      <svg width="7" height="15">
        <use class="button__arrow" href="./images/icons.svg#button_arrow"></use>
      </svg>
    </button>
  </div>
</header>

<div class="section">
  <p>
    On Scroll Sticky Header The header will stick to the top when you reach its
    scroll position. Scroll back up to remove the sticky effect. Some text to
    enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
    maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus. Some
    text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no
    quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
    gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
    nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
  </p>
</div>
