<header class="header">
  <div class="header__container container">
    <a href="#contacts" class="header__container-logo">
      <svg class="logo__icon" width="199px" height="50px">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link link" href="#home">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#about">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#tradition">How it's made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="#contacts">Contact</a>
        </li>
      </ul>
      <!--burger__button-->
      <button
        type="button"
        class="menu-button js-open-menu"
        aria-controls="menu-container"
      >
        <svg width="20" height="15" aria-label="Открытие мобильного меню">
          <use class="icon-menu" href="./images/icons.svg#menu"></use>
        </svg>
      </button>
      <!--burger__menu-->
      <div class="backdrop">
        <div class="menu-container js-menu-container" id="menu-container">
          <button
            type="button"
            class="menu-button js-close-menu"
            aria-controls="menu-container"
            data-menu-button
          >
            <svg width="20" height="15" aria-label="Закрытие мобильного меню">
              <use class="icon-cross" href="./images/icons.svg#cross"></use>
            </svg>
          </button>
          <button
            data-modal-open
            class="btn header__btn header__btn-menu"
            type="button"
          >
            Buy now
            <svg class="button__arrow" width="7" height="15">
              <use href="./images/icons.svg#button_arrow"></use>
            </svg>
          </button>

          <ul class="mobile__list list">
            <li class="mobile__item">
              <a class="mobile__link link" href="#home">Home</a>
            </li>
            <li class="mobile__item">
              <a class="mobile__link link" href="#about">About us</a>
            </li>
            <li class="mobile__item">
              <a class="mobile__link link" href="#tradition">How it’s made?</a>
            </li>
            <li class="mobile__item">
              <a class="mobile__link link" href="#products">Our products</a>
            </li>
            <li class="mobile__item">
              <a class="mobile__link link" href="#contacts">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <button data-modal-open class="btn header__btn desktop__btn" type="button">
      Buy now

      <svg class="button__arrow" width="7" height="15">
        <use href="./images/icons.svg#button_arrow"></use>
      </svg>
    </button>
  </div>
</header>
