<section class="products section">
  <div class="container">
    <p class="upper-title products__upper-title">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item">
        <div class="card-contents products__card-contents card-contents--pink">
          <h3 class="card-contents__subtitle">ice cream</h3>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon">
              <use href="./images/icons.svg#right"></use>
            </svg>
          </button>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/products_img/png/ice1_lg.png    1x,
                ./images/products_img/png/ice1_lg@2x.png 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products_img/png/ice1_md.png    1x,
                ./images/products_img/png/ice1_md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products_img/png/ice1_sm.png    1x,
                ./images/products_img/png/ice1_sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="products__image"
              src="./images/products_img/png/ice1_sm.png"
              alt="icecream"
              width="280"
              height="280"
            />
          </picture>
        </div>
      </li>
      <li class="products__item">
        <div
          class="card-contents products__card-contents card-contents--yellow"
        >
          <h3 class="card-contents__subtitle">ice coffee</h3>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon">
              <use href="./images/icons.svg#right"></use>
            </svg>
          </button>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/products_img/png/ice2_lg.png    1x,
                ./images/products_img/png/ice2_lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products_img/png/ice2_md.png    1x,
                ./images/products_img/png/ice2_md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products_img/png/ice2_sm.png    1x,
                ./images/products_img/png/ice2_sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="products__image"
              src="./images/products_img/png/ice2_sm.png"
              alt="icecream"
              width="280"
              height="280"
            />
          </picture>
        </div>
      </li>
      <li class="products__item">
        <div class="card-contents products__card-contents card-contents--green">
          <h3 class="card-contents__subtitle">milkshakes</h3>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="products__btn">
            <svg class="products__icon">
              <use href="./images/icons.svg#right"></use>
            </svg>
          </button>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/products_img/png/ice3_lg.png    1x,
                ./images/products_img/png/ice3_lg@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products_img/png/ice3_md.png    1x,
                ./images/products_img/png/ice3_md@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products_img/png/ice3_sm.png    1x,
                ./images/products_img/png/ice3_sm@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="products__image"
              src="./images/products_img/png/ice3_sm.png"
              alt="icecream"
              width="280"
              height="280"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content"></div>
  </div>
</div>
