<section class="products section" id="products">
  <div class="container">
    <p class="upper-title products__upper-title">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item products__item--pink">
        <h3 class="card-contents__subtitle">ice cream</h3>
        <p class="card-contents__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <input
          class="checkbox visually-hidden"
          type="checkbox"
          id="read-more"
        />
        <p class="text-more continue">made with love</p>
        <label class="products__btn products__btn--hover-green" for="read-more">
          <svg class="products__icon" aria-label="right arrow">
            <use href="./images/icons.svg#right"></use>
          </svg>
        </label>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products_img/png/ice1_lg.png    1x,
              ./images/products_img/png/ice1_lg@2x.png 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/png/ice1_md.png    1x,
              ./images/products_img/png/ice1_md@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/png/ice1_sm.png    1x,
              ./images/products_img/png/ice1_sm@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="products__image"
            src="./images/products_img/png/ice1_sm.png"
            alt="icecream"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="products__item products__item--yellow">
        <h3 class="card-contents__subtitle">ice coffee</h3>
        <p class="card-contents__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <input class="checkbox visually-hidden" type="checkbox" id="more" />
        <p class="text-more continue">made with love</p>
        <label class="products__btn products__btn--hover-pink" for="more">
          <svg class="products__icon" aria-label="right arrow">
            <use href="./images/icons.svg#right"></use>
          </svg>
        </label>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products_img/png/ice2_lg.png    1x,
              ./images/products_img/png/ice2_lg@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/png/ice2_md.png    1x,
              ./images/products_img/png/ice2_md@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/png/ice2_sm.png    1x,
              ./images/products_img/png/ice2_sm@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="products__image"
            src="./images/products_img/png/ice2_sm.png"
            alt="icecream"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="products__item products__item--green">
        <h3 class="card-contents__subtitle">milkshakes</h3>
        <p class="card-contents__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <input class="checkbox visually-hidden" type="checkbox" id="read" />
        <p class="text-more continue">made with love</p>
        <label class="products__btn products__btn--hover-yellow" for="read">
          <svg class="products__icon" aria-label="right arrow">
            <use href="./images/icons.svg#right"></use>
          </svg>
        </label>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/products_img/png/ice3_lg.png    1x,
              ./images/products_img/png/ice3_lg@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/png/ice3_md.png    1x,
              ./images/products_img/png/ice3_md@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/png/ice3_sm.png    1x,
              ./images/products_img/png/ice3_sm@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="products__image"
            src="./images/products_img/png/ice3_sm.png"
            alt="icecream"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
