<section class="products">
  <div class="container">
    <p class="products__upper-title upper-title">100% natural</p>
    <h2 class="product__title title">products</h2>
    <ul class="product__list">
      <li class="product__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/products_img/ice1_lg.jpg    1x,
              ./images/products_img/ice1_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/ice1_md.jpg    1x,
              ./images/products_img/ice1_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/ice1_sm.jpg    1x,
              ./images/products_img/ice1_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="product__image"
            src="./images/products_img/ice1_sm.jpg"
            alt="icecream"
            width="280"
            height="280"
          />
        </picture>
        <div class="card-contents product__card-contents card-contents--pink">
          <h3 class="card-contents__subtitle">ice cream</h3>
          <svg class="card-contents__icon" width="26" height="6">
            <use href="./images/products_img/symbol-defs.svg#group"></use>
          </svg>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="product__btn">
            <svg class="product__icon">
              <use href="./images/products_img/symbol-defs.svg#right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/products_img/ice2_lg.jpg    1x,
              ./images/products_img/ice2_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/ice2_md.jpg    1x,
              ./images/products_img/ice2_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/ice2_sm.jpg    1x,
              ./images/products_img/ice2_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="product__image"
            src="./images/products_img/ice2_sm.jpg"
            alt="icecream"
            width="280"
            height="280"
          />
        </picture>
        <div class="card-contents product__card-contents card-contents--yellow">
          <h3 class="card-contents__subtitle">ice coffee</h3>
          <svg class="card-contents__icon" width="26" height="6">
            <use href="./images/products_img/symbol-defs.svg#group"></use>
          </svg>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="product__btn">
            <svg class="product__icon">
              <use href="./images/products_img/symbol-defs.svg#right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/products_img/ice3_lg.jpg    1x,
              ./images/products_img/ice3_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/products_img/ice3_md.jpg    1x,
              ./images/products_img/ice3_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products_img/ice3_sm.jpg    1x,
              ./images/products_img/ice3_sm@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="product__image"
            src="./images/products_img/ice3_sm.jpg"
            alt="icecream"
            width="280"
            height="280"
          />
        </picture>
        <div class="card-contents product__card-contents card-contents--green">
          <h3 class="card-contents__subtitle">milkshakes</h3>
          <svg class="card-contents__icon" width="26" height="6">
            <use href="./images/products_img/symbol-defs.svg#group"></use>
          </svg>
          <p class="card-contents__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="product__btn">
            <svg class="product__icon">
              <use href="./images/products_img/symbol-defs.svg#right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
