<section class="reviews section">
  <div class="container reviews-container">
    <h2 class="visually-hidden">Customs reviews</h2>
    <div class="swiper mySwiper swiper-container">
      <ul class="reviews__list list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <article class="review">
            <img
              class="review__img"
              srcset="
                ./images/reviews/customer1.jpg    1x,
                ./images/reviews/customer1@2x.jpg 2x
              "
              src="./images/reviews/customer1.jpg"
              alt="Customer 1 avatar"
              width="85"
              height="85"
            />
            <div class="review__text-wrapper">
              <p class="review__text">
                I think we all are Ice cream lovers and the best of Ice cream in
                my opinion are Cornetto: This is a frozen dessert cone, the best
                flavor is Strawberry because it tastes like I'm eating
                Strawberry with some chocolate.
              </p>
            </div>
            <p class="review__user-data">Emily, Los Angeles</p>
          </article>
        </li>
        <li class="reviews__item swiper-slide">
          <article class="review">
            <img
              class="review__img"
              srcset="
                ./images/reviews/customer2.jpg    1x,
                ./images/reviews/customer2@2x.jpg 2x
              "
              src="./images/reviews/customer2.jpg"
              alt="Customer 2 avatar"
              width="85"
              height="85"
            />
            <div class="review__text-wrapper">
              <p class="review__text">
                I love Ice creams, cool and smoothy, a heavenly dish which every
                one want to relish. Ice creams are loved by people of all age
                group, any caste or religion, any country or region, functions
                and parties, as its smooth, creamy, cool and makes you chill and
                enjoy forgetting everything and only concentrating on your ice
                cream.
              </p>
            </div>
            <p class="review__user-data">Lora, New York</p>
          </article>
        </li>
        <li class="reviews__item swiper-slide">
          <article class="review">
            <img
              class="review__img"
              srcset="
                ./images/reviews/customer3.jpg    1x,
                ./images/reviews/customer3@2x.jpg 2x
              "
              src="./images/reviews/customer3.jpg"
              alt="Customer 3 avatar"
              width="85"
              height="85"
            />
            <div class="review__text-wrapper">
              <p class="review__text">
                Hello friends I am a great fan of eating ice creams and I have
                came here to share one of my marvelous experience of eating ice
                creams. Well, before starting my experience let me tell you that
                my favorite flavor of icecream is'vanilla'. I am in a habit o
                eating ice creams.
              </p>
            </div>
            <p class="review__user-data">Amanda, Boston</p>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
