.advantages {
background-color: var(--secondary-bgc);
padding-bottom: 60px;
}



.list__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.list__item__header {
    font-family: titan one;
    font-size: 36;
    font-weight: 400;
    color: #D41443;
    margin-bottom: 30px;
}

  .class__for__before--1:before {
      margin-bottom: 25px;
      content: '';
      display: block;
      width: 33px;
      height: 50px;
    //   outline: 1px black solid;
    //   background-color: orange;
      background-image: url(../images/advantages-svg/advantages-icon-1.svg);
     background-origin: border-box;

      background-size: contain;
    //   z-index: 999;
}

.class__for__before--2:before {
    margin-bottom: 25px;
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    // outline: 1px black solid;
    // background-color: orange;
    background-image: url(/src/images/advantages-svg/advantages-icon-2.svg);

    background-size: contain;
}

.class__for__before--3:before {
    margin-bottom: 25px;
    content: '';
    display: block;
    width: 44px;
    height: 50px;
    // outline: 1px black solid;
    // background-color: orange;
    background-image: url(/src/images/advantages-svg/advantages-icon-3.svg);

    background-size: contain;
}



.list__item__text {

    

    font-family: var(--primary-font);
        font-size: 12px;
        font-weight: 700;
        line-height: 1.7;
        letter-spacing: 0em;
        padding-right: 50px;

}